.black {
    background-color: #000000;
    color: #FFFFFF;
}

.black:hover{
  background-color: #666666;
  color:#FFFFFF;
}


.clear{
	margin:0;
	padding: 0;
}


.carousel-inner > .item > img,
		.carousel-inner > .item > a > img {
			width: 100%;
			margin: auto;
			height:500px;
			}
.message {
	text-align:justify;
	font-size:16px;
	line-height:2em;
}

